/*startButton*/
.getStartedButton {
    -fx-background-color:  linear-gradient(to bottom, #42a5f5, #155995);
    -fx-text-fill: white;
    -fx-background-radius: 50;
    -fx-border-radius: 40;
    -fx-border-width: 2;
    -fx-border-color: white;
}

.getStartedButton:hover {
    -fx-background-color: #1c86ee;
    -fx-text-fill: white;
    -fx-border-radius: 30;
    -fx-background-radius: 60;
}

.getStartedButton:pressed {
    -fx-background-color: linear-gradient(to right, #1e3c72, #2a5298);
    -fx-text-fill: white;
    -fx-border-radius: 30;
    -fx-background-radius: 60;
}

/*squareButton*/
.squareButton {
    -fx-background-color: #FFE4E1;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.squareButton:hover {
    -fx-background-color: #FFCCCC;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.squareButton:pressed {
    -fx-background-color: #FF99CC;
    -fx-border-color: black;
    -fx-border-width: 1;
}

/*roundButton*/
.roundButton {
    -fx-background-color:  #FFE4E1;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.roundButton:hover {
    -fx-background-color: #FFCCCC;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.roundButton:pressed {
    -fx-background-color: #FF99CC;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

/*searchBigButton*/
.searchButton {
    -fx-border-color: black;
    -fx-background-color: #FFE4E1;
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.searchButton:hover {
    -fx-border-color: black;
    -fx-background-color: #FFCCCC;
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.searchButton:pressed {
    -fx-border-color: black;
    -fx-background-color: #FF99CC;
    -fx-border-width: 2;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

.menuButton {
    -fx-background-color: #FFE4E1;
    -fx-border-color: pink;
    -fx-border-width: 2;
}

.menuButton:hover {
    -fx-background-color: #FFCCCC;
    -fx-border-color: pink;
    -fx-border-width: 2;
}

.menuButton:pressed {
    -fx-background-color: #ca90ac;
    -fx-border-color: pink;
    -fx-border-width: 2;
}