.button {
    -fx-background-color: linear-gradient(to bottom, #42a5f5, #1e88e5);
    -fx-text-fill: white;
    -fx-font-size: 15.0;
    -fx-border-radius: 40;
    -fx-background-radius: 50;
}

.button:hover {
    -fx-background-color: #1c86ee ;
}

.button:pressed {
    -fx-background-color:#104e8b;
}

.textFieldStyle {
    -fx-pref-height: 25px;
    -fx-pref-width: 347px;
}

.xButtonStyle {
    -fx-background-color: #FFE4E1; /* Màu nền */
    -fx-text-fill: #141414; /* Màu chữ */
    -fx-font-size: 14px; /* Kích thước chữ */
}

.hBoxStyle {
    -fx-pref-height: 42px; /* Chiều cao ưu tiên */
    -fx-pref-width: 428px; /* Chiều rộng ưu tiên */
    -fx-spacing: 40px; /* Khoảng cách giữa các phần tử */
}

